:root {
    --primary: 	#0b9248;
    --secondary: #efdc61;
    --personal: var(--primary);
    --bgcolor: #344D67;
    --grey: #dfe7ef;
    --border: #2d8587;
}

body {
    background: linear-gradient(105deg, #0a324a 60%, #256D85 60%);
    color: var(--grey);
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.greeting .title {
    text-align: center;
    margin: auto;
    font-size: 3.6rem;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    padding-top: 30px;
}

section {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h4 {
    font-family: "Gill Sans", sans-serif;
    color: var(--grey);
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.create-search input[type="text"] {
    display: inline;
    width: 36%;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.7rem;
    border: solid 4px var(--border);
    text-align: center;
    margin: auto;
    margin-top: 1.25rem;
}

.create-search input[type="submit"] {
    display: inline;
    width: 16%;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: black;
    background-color: #FFF;
    border: solid 4px var(--border);
    border-radius: 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-align: center;
    margin: auto;
    margin-left: 0.75rem;
}

#pokemon-result {
    width: 450px;
    margin: auto;
    border-radius: 50px;
    border: 12px solid var(--secondary);
    background: var(--primary);
    box-shadow: 0px 0px 15px 15px #1d1c2b;
}

#pokemonNimi {
    font-size: 2.25rem;
    font-weight: 450;
    color: black;
    font-family: "Gill Sans", sans-serif;
    text-align:  left;
    padding-left: 42px;
}

#pokemonNimi:first-letter {
    text-transform: uppercase;
}

#kuva {
    width: 250px;
    max-height: 250px;
    min-height: 250px;
    border: 8px solid var(--secondary);
    border-radius: 3px;
    box-shadow: 0px 0px 12px 12px #086231;
    background-image: url("tausta.png");
    background-position: center;
    padding: 25px 58px 25px;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

#pokemonTyyppi {
    width: 374px;
    font-size: 1.25rem;
    font-weight: 545;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    text-align:  left;
    border-bottom: solid 4px var(--secondary);
    padding-top: 25px;
    padding-bottom: 8px;
    margin: auto;
}

#pokemonAbilities {
    width: 374px;
    font-size: 1.25rem;
    font-weight: 545;
    font-family: "Gill Sans", sans-serif;
    text-transform: uppercase;
    color: black;
    text-align:  left;
    border-bottom: solid 4px var(--secondary);
    padding-top: 25px;
    padding-bottom: 8px;
    margin: auto;
    margin-bottom: 8rem;
}

#github {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}